@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@font-face {
    font-family: Kramola;
    src: url('../fonts/Kramola.ttf');
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #222222;
}

.divide{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-between;
}

.navigation{
    width: 15%;
    height: 100vh;
}

.nav_content{
    width: 100px;
    height: 90%;
    margin: 5vh auto;
    background: #222222;
    border-radius: 30px;
}

.nav_content .item{
    padding-top: 30px;
}

.nav_content .item button{
    margin: 0 auto;
    border: none;

    border-radius: 15px;
    
    width: 60px;
    height: 60px;
    background-color: #222222;


    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.nav_content .item button img{
    width: 50%;
}

.nav_content .item button:hover{
    background-color: #484848;
}

.content{
    width: 85%;
    height: 100vh;
}

.header_logotype{
    width: 95%;
    margin-right: 5%;
    height: 90px;
    border-bottom: 2px solid #4f4f4f;
    margin-top: 5vh;
}
.header_logotype h1{
    color: #222222;
    font-size: 55px;
    font-weight: 600;
}

.cards_info .info__header{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}
.info__content{
    width: 100%;
    height: 470px;
    overflow-y: auto;
}
.info__content::-webkit-scrollbar {
    width: 0;
}

.crad__info{
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #c9c9c9;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crad__info .image{
    width: 40%;
    height: 140px;

    display: flex;
    align-items: center;
    border-radius: 20px;
}

.descript{
    margin-left: 5%;
    width:55%;
    height: 140px;
}

.descript h3{
    font-weight: 600;
    margin-bottom: 10px;
}

.content_body{
    margin-top: 30px;

    width: 95%;
    display: flex;
    justify-content: space-between;
}

.content_body .cards_info{
    width: 45%;
}

/* Map */
.map{
    margin-top: 60px;
    width: 55%;
    height: 450px;
    background-color: #222222;
    margin-left: 5%;
    border-radius: 30px;
}


h1,
h1 span{
    text-transform: uppercase;
    font-family: 'Kramola';
}

h3, h4{
    font-family: 'Kramola';
}

h4 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}